/IResourceBarController.class
/IResourceBarView.class
/ResourceBarController.class
/ResourceBarElement.class
/ResourceBarView$1.class
/ResourceBarView$2.class
/ResourceBarView$3.class
/ResourceBarView$ResourceElement.class
/ResourceBarView.class
